*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "Poppins";
}

.nav-items{
    display: flex;
    margin-left: 100px;
    font-size: 25px;
}
.nav-item{
    margin-right: 100px;
}
.active-item{
    color: #fe5e35;
}

.left-section{
    margin-top: 10%;
    margin-left: 3%;
}
.left-section h3{
    font-size: 200%;
    font-family: "Poppins";
    font-weight: 200;

}
.left-section h1{
    font-size: 50px;
    margin-top: 50px;
    font-family: "Fredoka One";
    font-weight: 400px;
}
 .sub-headlines{   
    position: relative;
    left: 60px;
    top: 50px;
}
h5 img{
    background-color: #fe5e35;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 13px;
}
.text{
    font-family: "Poppins";
    color: rgb(197, 202, 207);
    margin-top: 15%;
    margin-left: 0%;
}
.action-btns{
    position: relative;
    right: 250px;
    top: 260px;
    
}
.action-btn{
    border: none;
    border-radius: 35px;
    background-color: #fe5e35;
    color: white;
    padding: 25px 65px;
    margin-right: 80px;
     position: relative;
    bottom: 180px;
    left: 300px; 
    font-size: 20px;
}
.intro-section{ 
    display: flex;
}
.yellow-dot{
    background-color: #fe5e35;
    height:50px;
    width: 50px;
    margin-left: 30px;
    border-radius: 50px;
 }
.tomato-dot{
    background-color: black;
    height:50px;
    width: 50px;
    margin-left: 30px;
    border-radius: 50px;
 }
.black-dot{
    background-color: yellow;
    height:50px;
    width: 50px;
    margin-left: 30px;
    border-radius: 50px;
 }
 .dots{
    display: flex;
    position: relative;
    bottom: 250px;
    left: 260px;

   
 }
 .headphone-div{
    position: relative;
    bottom: 250px;
    left: 100px;
    right: 0;
    

 }
 .discount-content{
    position: relative;
    top: 500px;
    left: 8px;
    font-size: 20px; 
    font-family: "Fredoka One";
    color: white;
 }
 .discount{
    position: relative;
    top: 630px;
    right: 50px;

 }
 .right-section button{
    position: relative;
    bottom: 200px; 
 }
